<!doctype html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>VEIKKAUS ### User role create ###</title>
    <link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/veikkaus-jquery-style.css}"/>
    <script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
    <script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
</head>
<body>
<h1>Create new user role</h1>
<p>
    <a id="tooltipList" th:href="@{/userRole/getAll}" title="Go back to user role list">Back to user role list</a>
</p>
<br/>
<form action="#" method="post" th:action="@{/userRole/postCreate}" th:object="${userRole}">
    <p>
        Name: <input th:field="*{name}" type="text"/>
    </p>
    <p>
        <button class="show-tooltip ui-button ui-corner-all ui-widget" id="buttonCreate"
                title="Create user role" type="submit">Create user role
        </button>
        <button class="show-tooltip ui-button ui-corner-all ui-widget" id="buttonReset"
                title="Reset fields" type="reset">Reset fields
        </button>
    </p>
</form>
<script th:src="@{/js/common-navigation.js}"></script>
</body>
</html>
