<!doctype html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>VEIKKAUS ### Bet result confirm delete ###</title>
    <link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/veikkaus-jquery-style.css}"/>
    <script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
    <script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
</head>
<body>
<h1>Bet result delete confirm</h1>
<p th:text="'Bet user name: ' + ${betResult.bet.user.name}"/>
<p th:text="'Home team: ' + ${betResult.game.homeTeam.team.name}"/>
<p th:text="'Away team: ' + ${betResult.game.awayTeam.team.name}"/>
<p th:text="'Home score: ' + ${betResult.homeScore}"/>
<p th:text="'Away score: ' + ${betResult.awayScore}"/>
<form action="#" method="post"
      th:action="@{/betResult/postDelete}" th:object="${betResult}">
    <input th:field="*{id}" type="hidden"/>
    <input th:field="*{bet.id}" type="hidden"/>
    <button class="ui-button ui-corner-all ui-widget"
            title="Confirm deleting of Bet result"
            type="submit">Confirm deleting Bet result
    </button>
</form>
<form action="#" method="get"
      th:action="@{/betResult/getAll}" th:object="${betResult}">
    <button class="ui-button ui-corner-all ui-widget"
            title="Cancel deleting of tournament team"
            type="submit">
        Cancel deleting Bet result
    </button>
</form>
<script th:src="@{/js/common-navigation.js}"></script>
</body>
</html>