<!doctype html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>VEIKKAUS ### Status confirm delete ###</title>
    <link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/veikkaus-jquery-style.css}"/>
    <script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
    <script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
</head>
<body>
<h1>Status delete confirm</h1>
<p th:text="'Status number: ' + ${status.statusNumber}"/>
<p th:text="'Description: ' + ${status.description}"/>
<form action="#" method="post" th:action="@{/status/postDelete}" th:object="${status}">
    <input th:field="*{id}" type="hidden"/>
    <button class="ui-button ui-corner-all ui-widget"
            title="Confirm deleting of team"
            type="submit">Confirm deleting status
    </button>
</form>
<form action="#" method="get"
      th:action="@{/status/getAll}" th:object="${status}">
    <button class="ui-button ui-corner-all ui-widget"
            title="Cancel deleting of status"
            type="submit">Cancel deleting status
    </button>
</form>
<script th:src="@{/js/common-navigation.js}"></script>
</body>
</html>