<!doctype html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>VEIKKAUS ### Team list ###</title>
    <link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/veikkaus-jquery-style.css}"/>
    <script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
    <script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
</head>
<body>
<p>
    <a id="tooltipIndex" th:href="@{/index.html}" title="Go back to main page">Back to main page</a>
</p>
<p>
    <a id="tooltipCreate" th:href="@{/team/getCreate}" title="Create new team">Create a new team</a>
</p>
<table>
    <tr>
        <th>Name</th>
    </tr>
    <tr th:each="team : ${teams}">
        <td th:text="${team.name}"/>
        <td><a class="show-tooltip"
               th:href="@{/team/getDetails(id=${team.id})}"
               title="Show details of team">Show details</a></td>
        <td><a class="show-tooltip"
               th:href="@{/team/getModify(id=${team.id})}"
               title="Modify details of team">Modify</a></td>
        <td><a class="show-tooltip"
               th:href="@{/team/getDelete(id=${team.id})}"
               title="Delete team">Delete</a></td>
    </tr>
</table>
<script th:src="@{/js/common-navigation.js}"></script>
</body>
</html>
