<!doctype html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>VEIKKAUS ### User confirm delete ###</title>
    <link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/veikkaus-jquery-style.css}"/>
    <script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
    <script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
</head>
<body>
<h1>User delete confirm</h1>
<p th:text="'User role name: ' + ${user.userRole.name}"/>
<p th:text="'Email: ' + ${user.email}"/>
<p th:text="'Name: ' + ${user.name}"/>
<p th:text="'Password: ' + ${user.password}"/>
<form action="#" method="post"
      th:action="@{/user/postDelete}" th:object="${user}">
    <input th:field="*{id}" type="hidden"/>
    <button class="ui-button ui-corner-all ui-widget"
            title="Confirm deleting of user"
            type="submit">Confirm deleting
        user
    </button>
</form>
<form action="#" method="get"
      th:action="@{/user/getAll}" th:object="${user}">
    <button class="ui-button ui-corner-all ui-widget"
            title="Cancel deleting of user"
            type="submit">
        Cancel deleting user
    </button>
</form>
<script th:src="@{/js/common-navigation.js}"></script>
</body>
</html>