<!doctype html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>VEIKKAUS ### Tournament list ###</title>
    <link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/veikkaus-jquery-style.css}"/>
    <script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
    <script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
</head>
<body>
<p>
    <a class="showTooltip" th:href="@{/index.html}" title="Go back to main page">Back to main page</a>
</p>
<p>
    <a class="showTooltip" th:href="@{/tournament/getCreate}" title="Create new tournament">Create a new tournament</a>
</p>
<table>
    <tr>
        <th>Name</th>
        <th>Year</th>
    </tr>
    <tr th:each="tournament : ${tournaments}">
        <td th:text="${tournament.name}"/>
        <td th:text="${tournament.year}"/>
        <td><a class="showTooltip"
               th:href="@{/tournament/getDetails(id=${tournament.id})}"
               title="Show details of tournament">Show details</a></td>
        <td><a class="showTooltip"
               th:href="@{/tournament/getModify(id=${tournament.id})}"
               title="Modify details of tournament">Modify</a></td>
        <td><a class="showTooltip"
               th:href="@{/tournament/getDelete(id=${tournament.id})}"
               title="Delete tournament">Delete</a></td>
    </tr>
</table>
<script th:src="@{/js/common-navigation.js}"></script>
</body>
</html>