<!doctype html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>VEIKKAUS ### Tournament modify ###</title>
    <link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/veikkaus-jquery-style.css}"/>
    <script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
    <script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
</head>
<body>
<h1>Modify tournament</h1>
<p>
    <a id="tooltipList" th:href="@{/tournament/getAll}" title="Go back to tournament list">Back to tournament list</a>
</p>
<br/>
<form action="#" method="post" th:action="@{/tournament/postModify}" th:object="${tournament}">
    <input th:field="*{id}" type="hidden"/>
    <input th:field="*{name}" type="text"/>
    <input th:field="*{year}" type="text"/>
    <button id="buttonModify" title="Save changed tournament information to database"
            type="submit">Save to DB
    </button>
</form>
<script th:src="@{/js/common-navigation.js}"></script>
</body>
</html>