<!doctype html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>VEIKKAUS ### User details ###</title>
    <link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/veikkaus-jquery-style.css}"/>
    <script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
    <script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
</head>
<body>
<h1>Details</h1>
<p>
    <a class="show-tooltip" th:href="@{/user/getAll}"
       title="Go back to user list">Back to user list</a>
</p>
<br/>
<p th:text="'User role name: ' + ${user.userRole.name}"/>
<p th:text="'Email: ' + ${user.email}"/>
<p th:text="'Name: ' + ${user.name}"/>
<p th:text="'Password: ' + ${user.password}"/>
<script th:src="@{/js/common-navigation.js}"></script>
</body>
</html>